@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mb-5" aria-labelledby="aspnetTitle">
        <div class="row">
            <section class="col-md-3 mb-5" aria-labelledby="gettingStartedTitle">
                <img class="img-fluid" src="~/Content/images/InfoDesk Logo Black_Small.png" />
            </section>
        </div>
        <h4 id="title">Product Review Application (ASP.NET)</h4>
        <p class="lead">
            Discover Your Perfect Product: @*Experience our cutting-edge .NET Application demo designed to guide you to the best products at the right prices.*@ Effortlessly explore items, @*compare options,*@ and make informed decisions based on real user reviews and ratings. Try it now for a smarter way to shop!
        </p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Customers</h2>
            <p>
                Find Customers
            </p>
            <p><a class="btn btn-outline-dark" href="/Customers">Customers &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Products</h2>
            <p>
                Find Products
            </p>
            <p><a class="btn btn-outline-dark" href="/Product">Products &raquo;</a></p>
        </section>
    </div>
</main>